<a href="https://colab.research.google.com/github/sabirmohammed123/Training/blob/main/25-09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n=int(input())
mat=[]
for i in range(n):
  mat.append(list(map(int,input().split())))
max = 0
for i in range(n-2):
  for j in range(n-2):
      l=[mat[i][j],mat[i][j+1],mat[i][j+2],mat[i+1][j+1],mat[i+2][j],mat[i+2][j+1],mat[i+2][j+2]]
      if sum(l) >max:
        max = sum(l)
print(max)

6
1 1 1 0 0 0
0 1 0 0 0 0
1 1 1 0 0 0
0 0 2 4 4 0
0 0 0 2 0 0
0 0 1 2 4 0
19

In [8]:
#bytes collections of asci value with in range(0 , 256)

l = [48 , 65 ,95, 100, 105,240]
print(type(l))
l1 = bytes(l)
print(l1)
print(l1[0])
print(l1[1:4])

<class 'list'>
b'0A_di\xf0'
48
b'A_d'

In [11]:
#bytearray : collection of ascii value
# it is a ordered , indexed , mutable
#allows duplicate value
l=[10,32,35,65,48,90,122,100]
l1 = bytearray(l)
print(l1)
print(l1[0])
print(l1[1:5])

bytearray(b'\n #A0Zzd')
10
bytearray(b' #A0')

In [24]:
#TUPLE : collection of heterogenous elements
#it is a ordered , index , inmutable
#it allows duplicate value
t = (10,20,30)
print(type(t))
t=()
t1 = (10)
print(type(t1))
t2 = (10,)
print(type(t2))
l = [1,2,3,40]
t3 = tuple(l)
print(t3)
p =(10,20,30,4,5,3,63)
print(p[4])
print(p[1:5])
print(p[-1:-4:-1])
print(dir(p))
print(p.count(4))
print(p.index(4))
print(len(p))
#print(max(p))
print(min(p))
print(sum(p))
p1 = sorted(p)
print(p1)
p2 = tuple(p1)
print(p2)

<class 'tuple'>
<class 'int'>
<class 'tuple'>
(1, 2, 3, 40)
5
(20, 30, 4, 5)
(63, 3, 5)
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
1
3
7
3
135
[3, 4, 5, 10, 20, 30, 63]
(3, 4, 5, 10, 20, 30, 63)

In [26]:
t=((1,2),(3,4),(5,6))
print(t)
print(t[0])
print(t[0][1])
for i in range (len(t)):
  print(t[i])

((1, 2), (3, 4), (5, 6))
(1, 2)
2
(1, 2)
(3, 4)
(5, 6)

In [31]:
#write a program to print duplicates values from a tuple
t =tuple(map(int,input().split()))
l=[]
for i in range(len(t)):
  if t.count(t[i])>1 and t[i] not in l:
    l.append(t[i])
print(*l)

10 20 306 00 6 042 65  0 45 5 1
0

In [36]:
#write a program to print reverse string in their ordered
s = tuple(map(str,input().split()))
for x in s:
  if(x.isalpha()):
    print(x[::-1],end=" ")
  #print(*x[::-1])

apple banana grapes
elppa ananab separg

In [39]:
#packing

a,b,c,d = 10,20,30,40
print(a,b,c,d)
t = a,b,c,d
print(t)
p,q,r,s = t
print(p,q,r,s)

10 20 30 40
(10, 20, 30, 40)
10 20 30 40

In [42]:
#SET : collectio of heterogenous elements
# it is unordered , immuatable
#duplicates are not allowed
s={}
print(type(s))
s = set()
print(type(s))
print(s)
s = {10,50,60,70,60}
print(s)
s.add(90)
print(s)

<class 'dict'>
<class 'set'>
set()
{10, 50, 70, 60}
{70, 10, 50, 90, 60}